<header>
  <div class="banner">
    <a id="myname" href="/">Jeffrey Skonhovd </a>
    <hr>
    <nav>
      <p>
        <a href="/">Home</a>
        <a href="/about.html">About</a>
	<a href="/posts/blog.html">Blog</a>
      </p>
    </nav>
  </div>
</header>

